<?xml version="1.0" encoding="utf-8"?>
<settings>
	<category label="32000">
		<setting label="hidden_upgrade" type="text" id="version_upgrade" default="" visible="false" />
		<setting label="hidden_mappings" type="text" id="mappings" default="" visible="false" />
		<setting label="32100" type="bool" id="debug" default="false" />
		<setting label="32101" type="action" option="close" action="RunScript(plugin.whereareyou)"/>
	</category>
</settings>
